<footer>
	<hr>
	<img src="{{assets}}/json_pig.svg" alt="JSON pig">
	<p>Fortune is <a href="https://github.com/daliwali/fortune/blob/master/LICENSE.md">MIT licensed</a></p>
	<p>Created by <a href="http://series.ac">Dali Zheng</a></p>
</footer>
