---
title: Documentation
documentation: true
---

<h2>
  Fortune: web framework for prototyping rich APIs. Instantiate a Fortune with <em>fortune(options)</em>.
</h2>
{{#each fortune}}
  {{>module}}
{{/each}}
<hr>
<h2>
  Adapter: the database adapter / ORM layer of Fortune, accessible under Fortune.adapter.
</h2>
{{#each adapter}}
  {{>module}}
{{/each}}
