---
about: true
---

<h2>
  Hello nerds. Fortune is a web framework for prototyping rich hypermedia APIs that implement the <a href="http://jsonapi.org">JSON API</a> specification. It comes with a modular persistence layer, with adapters for NeDB (built-in), MongoDB, MySQL, Postgres, &amp; SQLite. See <a href="/guide/">guide</a> for how to use.
</h2>
<hr>
<p>Get it by installing from <code>npm</code>:</p>
<div class="get">
  <code>$ npm install fortune</code>
  <a href="https://github.com/daliwali/fortune/archive/master.zip">
    <i class="icon-download-alt"></i>
    <span>Download .zip</span>
  </a>
</div>
<hr>
<h3>Features</h3>
<div class="feature">
  <p>
    <i class="icon-coffee"></i>
    Focus on ease of use. Fortune gives you routing and database interactions for free, so you don't have to do the plumbing.
  </p>
</div>
<div class="feature">
  <p>
    <i class="icon-exchange"></i>
    Associations and bi-directional relationship mapping. Fortune manages associations between resources so you don't have to.
  </p>
</div>
<div class="feature">
  <p>
    <i class="icon-cogs"></i>
    Hooks to transform resources before writing and after reading, for implementing application-specific logic (and magic).
  </p>
</div>
<hr>
<h3>Basic Usage</h3>
<p>Here is a minimal application:</p>
{{#markdown}}
```javascript
var fortune = require('fortune')
  , app = fortune({
    db: 'petstore'
  })
  .resource('person', {
    name: String,
    age: Number,
    pets: ['pet'] // "has many" relationship to pets
  })

  .resource('pet', {
    name: String,
    age: Number,
    owner: 'person' // "belongs to" relationship to a person
  })

  .listen(1337);
```
{{/markdown}}
<p>This exposes a few routes for the <code>person</code> and <code>pet</code> resources:</p>

<div class="table-container">
<table>
  <thead><tr>
  <th>HTTP</th>
  <th>Person</th>
  <th>Pet</th>
  <th>Notes</th>
  </tr></thead>
  <tbody>
  <tr>
  <td><code>GET</code></td>
  <td>/people</td>
  <td>/pets</td>
  <td>Get a collection of resources, accepts query <code>?ids=1,2,3...</code>
  </td>
  </tr>
  <tr>
  <td><code>POST</code></td>
  <td>/people</td>
  <td>/pets</td>
  <td>Create a resource</td>
  </tr>
  <tr>
  <td><code>GET</code></td>
  <td>/people/<code>:id</code>
  </td>
  <td>/pets/<code>:id</code>
  </td>
  <td>Get a specific resource, or multiple: <code>1,2,3</code>
  </td>
  </tr>
  <tr>
  <td><code>PUT</code></td>
  <td>/people/<code>:id</code>
  </td>
  <td>/pets/<code>:id</code>
  </td>
  <td>Create or update a resource</td>
  </tr>
  <tr>
  <td><code>PATCH</code></td>
  <td>/people/<code>:id</code>
  </td>
  <td>/pets/<code>:id</code>
  </td>
  <td>Patch a resource (see <a href="http://tools.ietf.org/html/rfc6902">RFC 6902</a>)</td>
  </tr>
  <tr>
  <td><code>DELETE</code></td>
  <td>/people/<code>:id</code>
  </td>
  <td>/pets/<code>:id</code>
  </td>
  <td>Delete a resource</td>
  </tr>
  <tr>
  <td><code>GET</code></td>
  <td>/people/<code>:id</code>/pets</td>
  <td>/pets/<code>:id</code>/owner</td>
  <td>Get a related resource (one level deep)</td>
  </tr>
  </tbody>
</table>
</div>

<p>Please consult the <a href="http://jsonapi.org">JSON API</a> specification for what the request and response should look like. Read the <a href="/guide/">guide</a> for an overview, or the <a href="/docs/">documentation</a> if you feel like diving in.</p>
